<div id="client-ui">
  <div id="header"></div>
  <div id="client_body">
    <div class="row">
      <div id="channels_col">
        <div id="channels" class="section_holder">
          <h2 id="channels_header" class="hoverable">Channels</h2>
          <ul id="channels_list"></ul>
        </div>
      </div>
      <div id="messages_container">
        <ul id="messages"></ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="messages-input-container">
      <form id="message-form" action="">
        <input id="message-input" class="with-emoji-menu" autocorrect="off" autocomplete="off" spellcheck="true" />
      </form>
    </div>
  </div>
</div>