<div id="client-ui" class="container-fluid">
	<div id="header" class="null_transform"></div>
  <div id="client_body" class="row"></div>
  <div id="footer">
    <div id="messages-input-container">
      <form id="message-form" action="">
        <input id="message-input" class="with-emoji-menu" autocorrect="off" autocomplete="off" spellcheck="true" />
      </form>
    </div>
  </div>
</div>