<div id="client-ui">
  <div id="header"></div>
  <div id="client_body">
    <div id="body_container" class="row">
      <div id="messages_container">
        <ul id="messages"></ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="messages-input-container">
      <form id="message-form" action="">
        <input id="message-input" class="with-emoji-menu" autocorrect="off" autocomplete="off" spellcheck="true" />
      </form>
    </div>
  </div>
</div>