<!doctype html>
<html>
<head>
  <title>{{user.name}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/messages.css">
</head>
<body>
  {{{body}}}
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="http://fb.me/react-0.12.2.js"></script>

  <!-- only for dev mode -->
  <!-- In-browser JSX transformer, remove when pre-compiling JSX. -->
  <script src="/js/build/channels.js"></script>

  <script src="/js/messages.js"></script>
</body>
</html>